body {
    background-color: salmon;
    color: darkblue;
}

header {
    background-color: #f7bda4;
    margin: 8px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

main {
    background-color: #f7bda4;
    margin: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toc {
    display: flex;
    justify-content: space-around;
}

.toc section {
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: #f7bda4;
    margin: 8px;
    padding: 16px;
    text-align: center;
}

footer div {
    display: flex;
    justify-content: center;
}
