body {
    background-color: salmon;
    color: darkblue;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toc {
    display: flex;
    padding: 30px;
    margin: 30px;
    justify-content: space-around;
}

.toc section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    text-align: center;
}

footer div {
    display: flex;
    justify-content: center;
}
