* {
    border-radius: 8px;
}

body {
    background-color: #B9FAE5;
    color: #497366;
}

header {
    background-color: #FAC6B9;
    border: 4px solid #AD6E5E;
    margin: 8px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

header div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header div p {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 32px;
    font-weight: 800;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    padding-left: 8px;
    padding-right: 8px;
}

main {
    background-color: #FAC6B9;
    border: 4px solid #AD6E5E;
    margin: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    background-color: #D6FFF2;
    color: #AD6E5E;
    border: 2px solid #497366;
    margin: 0px;
    padding: 8px;
}

main p {
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: 700;
}

.toc {
    background-color: #D6FFF2;
    color: #AD6E5E;
    border: 2px solid #497366;
}

.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.contents section {
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contents ul {
    padding-left: 4px;
}

footer {
    background-color: #FAC6B9;
    border: 4px solid #AD6E5E;
    margin: 8px;
    padding: 8px;
    text-align: center;
}

footer div {
    display: flex;
    justify-content: space-around;
    background-color: #D6FFF2;
    color: #AD6E5E;
    border: 2px solid #497366;
}

footer section {
    padding: 8px;
}

footer h4{
    font-size: 20px;
    margin: 8px;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    list-style-type: none;
}
